<html>
    <head>
        {% load static %}
        {% get_static_prefix as STATIC_URL %}
        <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'>
</script>
<title>Google Calendar Edit Page:</title>

</head>
<body>

<script type="text/javascript">
$(document).ready( function(){

  function resetForm(_form){
    _form.find('input:text, input:password, input:file, select').val('');
    _form.find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
  }

  //this block hides the forms initially
  $("#calendar").addClass("inner").hide();
  $("#instructions_div").addClass("inner").hide();
  $("#group").addClass("inner").hide();
  $("#success").addClass("inner").hide();
  $("#waiting").addClass("inner").hide();

  //for each button, the other forms will slide up
  //and the relevant one will be displayed
  $("#create_edit_calendar_view").click( function(){
    $("#instructions_div").slideUp();
    $("#group").slideUp();
    $("#success").hide();
    $("#waiting").hide();
    $("#calendar").slideDown();
    resetForm($("#group_form"));
  });
  $("#instructions_view").click( function(){
    $("#calendar").slideUp();
    $("#group").slideUp();
    $("#success").hide();
    $("#waiting").hide()
    $("#instructions_div").slideDown();
  });
  $("#group_form_view").click( function(){
    $("#calendar").slideUp();
    $("#instructions_div").slideUp();
    $("#success").hide();
    $("#waiting").hide()
    $("#group").slideDown();
    resetForm($("#calendar_form"));
  });

  $("#calendar_submit").click( function() {
    $.ajax({
      url:"/cal/",
      type:"POST",
      data:"csrfmiddlewaretoken="+$("input[type=hidden][name=csrfmiddlewaretoken]").attr("value")+
        "&calendar_name="+$("input[name=calendar_name]").val()+
        "&calendar_requestor_1="+$("input[name=calendar_requestor_1]").val()+
        "&calendar_requestor_2="+$("input[name=calendar_requestor_2]").val(),
      success:function(a){
        $('#waiting').slideUp();
        $('#success').html('<div id="form_div">'+a+' </div>');
        $('#success').slideDown();
      }
      });
    $("#instructions_div").slideUp();
    $("#group").slideUp();
    $("#calendar").slideUp();
    $("#waiting").slideDown();
    });

  $("#group_submit").click( function() {
    $.ajax({
      url:"/group/",
      type:"POST",
      data:"csrfmiddlewaretoken="+$("input[type=hidden][name=csrfmiddlewaretoken]").attr("value")+
        "&group_email="+$("input[name=group_email]").val()+
        "&group_name="+$("input[name=group_name]").val()+
        "&group_description="+$("input[name=group_description]").val()+
        "&group_requestor_1="+$("input[name=group_requestor_1]").val()+
        "&group_requestor_2="+$("input[name=group_requestor_2]").val(),
      success:function(a){
        $('#waiting').slideUp();
        $('#success').html('<div id="form_div">'+a+' </div>');
        $('#success').slideDown();
      }
      });
    $("#instructions_div").slideUp();
    $("#group").slideUp();
    $("#calendar").slideUp();
    $("#waiting").slideDown();
    });

  }
);
</script>

<div id="outer">

<div id="header">
<h1>Google Calendars</h1>
<ul id="navbar">
<div id="navbar_posish">
<li id="create_edit_calendar_view"><div id="navbar_div_left">
Calendar Form
</div></li>
<li id="group_form_view"><div id="navbar_div">
Group Form
</div></li>
<li id="instructions_view"><div id="navbar_div">
Instructions
</div></li>
<a href="/accounts/logout" >
<li id="logout_button"><div id="navbar_div">
Logout
</div></li>
</a>
</ul>
</div>

<div id="calendar">
<div id="form_div">
<form id="calendar_form" action='/cal/' method='post'>
    {% csrf_token %}
    {{ calendar_form.non_field_errors }}
<label for="calendar_name">Name of Calendar</label>
<br/>
{{ calendar_form.calendar_name }}
<br/>
<label for="calendar_requestor_1">Requestor</label>
<br/>
{{ calendar_form.calendar_requestor_1 }}
<br/>
<label for="calendar_requestor_2">Second Requestor</label>
<br/>
{{ calendar_form.calendar_requestor_2 }}
<br/>
<div id="calendar_submit">
<strong>Submit</strong>
</div>
</form>
</div>
</div>

<div id="group">
<div id="form_div">
<form id="group_form" action='/cal/' method='post'>
    {% csrf_token %}
    {{ group_form.non_field_errors }}
<label for="group_email">Group Email</label>
<br/>
{{ group_form.group_email }}
<br/>
<label for="group_name">Group Name</label>
<br/>
{{ group_form.group_name }}
<br/>
<label for="group_description">Group Description</label>
<br/>
{{ group_form.group_description }}
<br/>
<label for="group_requestor_1">Requestor</label>
<br/>
{{ group_form.group_requestor_1 }}
<br/>
<label for="group_requestor_2">Secondary Requestor</label>
<br/>
{{ group_form.group_requestor_2 }}
<br/>
<div id="group_submit">
<strong>Submit</strong>
</div>
</form>
</div>
</div>

<div id="instructions_div">
<div id='form_div'>
<p>
<strong>Calendars</strong><br/>
To use this form, enter the name of a calendar. <br/>
If it is not an existing calendar, it will be created. <br/>
If it is an existing calendar, this will query it. <br/>
After being created or queried, the requestors will <br/>
be added as owners of the calendar.<br/><br/>
<strong>Groups</strong><br/>
To use this form, enter the name of a group, with capitalization.<br/>
ex: AAA-TripleA-Group, BAC-KToTheFuture-Group <br/>
If it is not an existing group, it will be created. <br/>
If it is an existing group, this will query it. <br/>
After being created or queried, the requestors will <br/>
be added as owners of the group.<br/>
</p>
</div>
</div>

<div id="success">
<div id="form_div">

</div>
</div>

<div id="waiting">
<div id="form_div">
Waiting for response...
</div>
</div>

</div>
</body>
</html>
