<!DOCTYPE html>
<html>
 <head>
  {% load static %}
  {% get_static_prefix as STATIC_URL %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}reset.css"  />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}layout.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css"  />
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
  <title>Google Calendar/Group Mgmt.</title>
  <meta charset="utf-8">
 </head>
 <body>
  <div id="page">

   <div id="header-overlay">
    <ul id="utility-nav">
     <li>
      <a href="https://my.pdx.edu/">myPSU</a>
     </li>
     <li class="last">
      <a href="http://www.pdx.edu/contact">Contact PSU</a>
     </li>
    </ul>
   </div><!-- header-overlay -->

   <div id="header-wrap">
    <hr class="header-deco">
    <div id="header">
     <a href="http://www.pdx.edu/" title="Home" rel="home" id="logo">
      <img src="{{ STATIC_URL }}logo.png" alt="Home">
     </a>
    </div><!-- header -->
   </div><!-- header-wrap -->

   <div id="main-wrap">
    <div id="main">
     <ul id="navigation">
      <li class=""><a href="http://www.pdx.edu/admissions" title="">Admissions</a></li> 
      <li class=""><a href="http://www.pdx.edu/schools-colleges">Schools &amp; Colleges</a></li> 
      <li class=""><a href="http://www.pdx.edu/academic-programs" class="active-trail active">Academic Programs</a></li> 
      <li class=""><a href="http://www.pdx.edu/campus">Campus</a></li>
      <li class="last"><a href="http://www.pdx.edu/alumni">Alumni</a></li> 
      </ul>
      <div id="container">
       <div id="outer">

        <div id="nav_left">
         <ul id="l_nav"><br/><br/>
          <a href="/calendar_form/"><li id='l_nav_calendar' class="app_nav_li">Calendar</li></a><br/><br/>
          <a href="/group_form/"><li id="l_nav_group" class="app_nav_li">Group</li></a><br/><br/>
          <a href="/accounts/logout"><li id='l_nav_logout' class="app_nav_li">Logout</li></a>
         </ul>
        </div>

        <div id="google_header">
         <h1 id="header_text">Google Utility</h1>
         <!-- <ul id="navbar">
         <div id="navbar_posish">
          <li id="create_edit_calendar_view" class="app_nav_li">
           <a href="/calendar_form/">
             <div id="navbar_div_left">
              Calendar Form
             </div>
           </a>
          </li>
          <li id="group_form_view" class="app_nav_li">
           <a href="/group_form">
            <div id="navbar_div">
             Group Form
            </div>
           </a>
          </li>
          <a href="/accounts/logout">
           <li id="logout_button" class="app_nav_li">
            <div id="navbar_div">
             Logout
            </div>
           </li>
          </a>
         </ul> -->
        <!-- google_header -->

        <div id="success">
         <div id="form_div">
          {% autoescape off %}
          {{ success_msg }}
          {% endautoescape %}
         </div><!-- form_div -->
        </div><!-- success  -->
        </div>

       </div><!-- outer -->
      </div><!-- conainer -->
     </div><!-- main -->
    </div><!-- main_wrapper -->
   </div><!-- page -->
   <div id="footer">
    <ul>
     <li class="first copyright"><a href="http://www.pdx.edu/copyright" title="Portland State Copyright Information">© 2011</a></li>
     <li><a href="http://www.pdx.edu/giving/plans" title="Giving at Portland State">Give to PSU</a></li>
     <li><a href="http://www.pdx.edu/faqs" title="Frequently-Asked Questions about Portland State">PSU FAQs</a></li>
     <li><a href="http://www.pdx.edu/contact-us" title="Contact Portland State">Contact PSU</a></li>
     <li><a href="http://www.directory.pdx.edu/" title="Find People at Portland State">Find People</a></li>
     <li><a href="http://www.pdx.edu/campus" title="Getting Around at Portland State">Maps/Directions</a></li>
     <li class="last"><a href="http://www.pdx.edu/sitemap" title="Portland State Sitemap">PSU Sitemap</a></li>
    </ul>
   </div><!-- footer -->
 </body>
</html>
