body {
  background-color: #888888;
}

#outer {
  width: 600px;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:    2%;
  font-family:      sans-serif;
  background-color: #ebebf2;
  border-color:     #ebebf2;
}

.inner {
  margin-left: 6%;
  margin-right: 4%;
  margin-top: 25px;
  margin-bottom: 0px;
  background-color:  #ccd1d9;
}

#header {
  margin-left:      -2%;
  margin-right:     5%;
  margin-top:       5%;
  margin-bottom:    5%;
  width:            580px;
  height:           120px;
  text-align:       center;
  /*background-color: #f0f0ff;
  border-color:     #f0f0ff;*/
  background-color: #ebebf2;
}

#form_div {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    20px;
  margin-bottom: 20px;
}

/*#instructions_div {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    20px;
  margin-bottom: 20px;
  width:         420px;
  height:        440px;
  padding:       30px;
}*/

#response_div {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    20px;
  margin-bottom: 20px;
  width:         420px;
  height:        440px;
  padding:       30px;
}

#navbar {
  list-style-type: none;
  float: inherit;
}

li {
  float: left;
}

a {
  text-decoration: none;
  color:          black;
  font-weight:     bold;
}

#navbar_div {
  width: 100px;
  height: 39px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  background-color: #ccd1d9;
  }
  
body {
  background-color: #888888;
}

#outer {
  width: 600px;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom:    0%;
  font-family:      sans-serif;
  background-color: #ebebf2;
  border-color:     #ebebf2;
  padding: 5%;
}

.inner {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0px;
  background-color:  #ccd1d9;
}

/*#header {
  margin-left: 8%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  width:            500px;
  height:           120px;
  text-align:       center;
  background-color: #f0f0ff;
  border-color:     #f0f0ff;
  background-color: #ebebf2;
}*/

#form_div {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    0;
  margin-bottom: 0;
  width:         420px;
  padding:       4%;
}

/*#instructions_div {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    20px;
  margin-bottom: 20px;
  width:         420px;
  height:        440px;
  padding:       30px;
}*/

#response_div {
  margin-left:   40px;
  margin-right:  40px;
  margin-top:    20px;
  margin-bottom: 20px;
  width:         420px;
  height:        440px;
  padding:       30px;
}

#navbar {
  list-style-type: none;
  float: inherit;
}

li {
  float: left;
}

a {
  text-decoration: none;
  color:          black;
  font-weight:     bold;
}

#navbar_posish {
  margin-left: 12%;
  margin-right: 12%;    
}

#navbar_div {
  width: 100px;
  height: 39px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-left-width: 0px;
  background-color: #ccd1d9;
  float: inherit;
}

#navbar_div_left {
  width: 100px;
  height: 39px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  background-color: #ccd1d9;
  float: inherit;
}

#navbar_div_left {
  width: 100px;
  height: 39px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  background-color: #ccd1d9;
  float: inherit;
}
